body {
  margin: 0;
}

nav {
  background-color: #92dfe5;
  border-bottom: 2px solid #408da7;
  height: 72px;
}

ul{
  float: right;
}

li {
  display: inline;
  text-decoration: none;
  margin-right: 10px;
}

.logo-img {
  height: 50px;
  width: 50px;
}

main {
  background-image: linear-gradient( rgba(0,0,0,0.3), rgba(0, 0, 0, 0.3) ),url(images/park.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

h1 {
  color: white;
  text-align: center;
}

.main-img {
  border: 2px solid #408da7;
  border-radius: 50%;
  height: 150px;
  margin-left: 45%;
  text-align: center;
  width: 150px;
}

form {
  color: white;
  text-align: center;
}

input {
  text-align: center;
}

/* button{
  display: block;
  text-align: center;
} */

section {
 display: inline;
}

article {
  display: inline-block;
  margin-left: 9%;
  height: 700px;
}

.article-imgs {
  border-radius: 50%;
  height: 200px;
  margin-left: 15%;
  width: 200px;
}

h2 {
  text-align: center;
}

.column1 {
  
}

.column2 {
  
}

.column3 {

}

p {
  font-size: 22px;
  height: 400px;
  width: 300px; 
}

footer {
  background-color: #408da7;
}

h3 {
  color: white;
  text-align: center;
}

#twitter-logo {
  margin-left: 42%;
}

.footer-logos {
  margin-right: 5px;
  margin-bottom: 5px;
}