body {
  margin: 0;
  font-family: "Open sans";
}

nav {
  background-color: #92dfe5;
  border-bottom: 2px solid #408da7;
  height: 76px;
  font-weight: 600;
}

ul{
  float: right;
  margin-top: 25px;
}

li {
  display: inline;
  font-size: 18px;
  text-decoration: none;
  margin-right: 25px;
}

.logo-img {
  height: 65px;
  margin: 8px 0 0 20px;
  width: 65px;
}

main {
  background-image: linear-gradient( rgba(0,0,0,0.3), rgba(0, 0, 0, 0.3) ),url(images/park.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin-top: 0;
}

h1 {
  color: white;
  font-size: 40px;
  padding: 40px;
  text-align: center;
  margin: 0;
}

.main-img {
  border: 2px solid #408da7;
  border-radius: 50%;
  height: 200px;
  margin-left: 44%;
  text-align: center;
  width: 200px;
}

form {
  color: white;
  text-align: center;
}

input {
  height: 40px;
  margin-top: 20px;
  text-align: center;
  width: 25%;
}

label {
  display: block;
  float: left;
}

.name-btn {
  background-color: #92dfe5;
  border: none;
  height: 40px;
  font-size: 18px;
  margin-left: 39%;
  margin-top: 10px;
  text-align: center;
  width: 363px;
}

section {
 display: inline;
}

article {
  display: inline-block;
  margin-left: 9%;
}

.article-imgs {
  border-radius: 50%;
  height: 200px;
  margin-left: 15%;
  width: 200px;
}

h2 {
  text-align: center;
}

p {
  font-size: 20px;
  height: 320px;
  width: 300px; 
}

.article-btns {
  border: none;
  color: white;
  background-color: #408da7;
  height: 50px;
  font-family: "Open sans";
  font-size: 20px;
  margin-bottom: 30px;
  width: 100%;
}

footer {
  background-color: #408da7;
}

h3 {
  color: white;
  margin-top: 10px;
  text-align: center;
}

#twitter-logo {
  margin-left: 42%;
}

.footer-logos {
  margin: 0 5px 10px 0;
}