html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #9b969c;
  font-family: 'Roboto Slab', serif;
  margin: 0;
}

nav {
  width:15%;
  background:#9b969c;
  height:100vh;
  float:left;
  display: fixed;
}

.logo-img {
  height: 150px;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 100px;
  width: 150px;
}

li {
  font-size: 22px;
  font-weight: 700;
  list-style-type: none;
  margin-bottom: 60px;
}

main {
  width:85%;
  background: #3d3544;
  float:right;
  height: 500px;
}

h1 {
  color: white;
  float: right;
  font-size: 44px;
  font-weight: 100;
  margin-right: 115px;
  margin-top: 130px;
}

span {
  font-weight: 700;
}

.main-img {
  border: 8px solid #9b969c;
  border-radius: 50%;
  margin-left: 50px;
  margin-top: 20px;
  height: 450px;
  width: 450px;
  float: left;
}

input {
  border: 1px solid black;
  border-radius: 2px;
  height: 60px;
  width: 500px;
  margin-left: 9%;  
  margin-bottom: 20px;
}

label {
  color: white;
  display: block;
  font-size: 20px;
  font-weight: 100;
  margin-left: 50%; 
}

.name-btn {
  background-color: #9b969c;
  border: none;
  border-radius: 2px;
  display: block;
  height: 65px;
  font-size: 22px;
  font-weight: 700;
  margin-left: 50%; 
  width: 500px;
}

section {
  width:85%;
  background:white;
  float:right;
}

h2 {
  margin-left: 30px;
}

p {
  width: 800px;
  margin-right: 20px;
  float: right;
  font-size: 22px;
}

article {
  border-bottom: 2px solid #9b969c;
  width: 90%;
  margin-left: 5%;
}

.article-imgs {
  border: 5px solid #9b969c;
  border-radius: 50%; 
  height: 200px;
  width: 200px;
}

.article-btns {
  display: block;
  margin-left: 860px;
  margin-bottom: 20px;
  margin-bottom: 70px;
  width: 200px;
  height: 55px;
  background-color: #3d3544;
  color: white;
}

.column3 {
  border: hidden;
}

footer {
  width:85%;
  background: #3d3544;
  float:right;
  height: 200px;
}
 
h3 {
  color: white;
}

/* .footer-logos {
  float: right;
}  */