html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #9b969c;
  font-family: 'Roboto Slab', serif;
  margin: 0;
}

nav {
  width:15%;
  background:#9b969c;
  height:100vh;
  float:left;
  display: fixed;
}

.logo-img {
  height: 150px;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 50px;
  width: 150px;
}

li {
  font-size: 22px;
  font-weight: 700;
  list-style-type: none;
  margin-bottom: 20px;
}

main {
  width:85%;
  background: #3d3544;
  float:right;
}

h1 {
  float: right;
}

.main-img {
  border-radius: 50%;
}

section {
  width:85%;
  background:white;
  float:right;
}

.article-imgs {
  border-radius: 50%;
}

footer {
  width:85%;
  background: #3d3544;
  float:right;
}

